/* Dave Gray CSS Tuto video 10 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

p {
    background-color: lightgray;
}

/* span is an inline-level element, we need to use display: inline-block if we want
to apply properties like margin, padding or height */
.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: black;
}

li {
    /* inline-block will display list items horizontally */
    display: inline-block;
    /* margin-inline applies to the left and right sides of the elements */
    margin-inline: 0.5rem;
}

/* only applies to the anchor tags inside list items */
li a {
    color: white;
    text-decoration: none;
}

li a:hover,
li a:focus {
    text-decoration: underline;
}