/* Dave Gray CSS Tuto video 10 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

p {
    background-color: lightgray;
}

/* span is an inline element, we need to make it a inline-block element if we want
to apply a padding without overlapsing the other elements */
.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
}