/* Dave Gray CSS Tuto video 10 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

p {
    background-color: lightgray;
}

/* span is an inline-level element, we need to use display: inline-block if we want
to apply properties like margin, padding or height */
.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
}