@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    /* margin: 0 for the top, auto for left & right (center the nav element), and 1rem for the bottom */
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background-color: gold;
    /* border-radius: to round the top corners of the h2 element */
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li a {
    /* transforms an inline-level element into a block-level element */
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover,
li a:focus {
    color: whitesmoke;
    background: #333;
    cursor: pointer;
}

/* to round the bottom corners of the last item */
li:last-child a {
    border-radius: 0 0 2rem 2rem;
}