* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    min-height: 200vh;
}

.outer-container {
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}

.inner-container {
    border: 2px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box {
    width: 150px;
    height: 150px;
    color: white;
    padding: 1rem;
}

.absolute {
    background-color: blue;
    position: static;
    /* static is actually the default value for the position property */

}