/* Universal Selector - shouldn't be used unless for a CSS reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*
html {
    font-size: 22px;
    line-height: 1.5;
}*/

body {
    background: #ACC8E5;
    color: #112A46;
}

.container {
    border: 5px dashed papayawhip;
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em;
    outline: 5px solid greenyellow;
    outline-offset: 5px;
    /* margin-top: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em; */
}

/*select both h1 and h2 elements
h1,
h2 {
    color: blue;
}*/

/*look for a span element inside a paragraph element*/
p span {
    text-transform: uppercase;
    background-color: black;
}

/*we'd better use a class to do the same thing*/
.highlight {
    text-transform: uppercase;
    background-color: #edb855;
}

.gray {
    color: #112A46;
    /*last element is alpha and is between 0 and 1*/
}

#second {
    font-style: italic;
}