/* Universal Selector - shouldn't be used unless for a CSS reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*
html {
    font-size: 22px;
    line-height: 1.5;
}*/

body {
    background: #ACC8E5;
    color: #112A46;
}

h1 {
    border: 2px dashed papayawhip;
    width: 50%;
    font-size: 2rem;
    /* rem is relative to the root element. 2rem = 32px */
    padding: 0.5em;
    /* em is relative to the parent element. Here, 0.5em = 16px */
    /* https://blog.lesieur.name/pourquoi-j-utilise-l-unite-rem-et-non-l-unite-pixel */
}

p {
    color: #112A46;
    font-size: 1.5rem;
    width: 55%;
    margin: 2px;
}

/*select both h1 and h2 elements
h1,
h2 {
    color: blue;
}*/

/*look for a span element inside a paragraph element*/
p span {
    text-transform: uppercase;
    background-color: black;
}

/*we'd better use a class to do the same thing*/
.highlight {
    text-transform: uppercase;
    background-color: #edb855;
}

.gray {
    color: #112A46;
    /*last element is alpha and is between 0 and 1*/
}

#second {
    font-style: italic;
}